<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#other" data-toc-modified-id="other-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>other</a></span></li><li><span><a href="#yesterday's-lab-but-in-Python" data-toc-modified-id="yesterday's-lab-but-in-Python-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>yesterday's lab but in Python</a></span></li><li><span><a href="#Pandas-Manipulations" data-toc-modified-id="Pandas-Manipulations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas Manipulations</a></span><ul class="toc-item"><li><span><a href="#Brief-intro-to-dataset" data-toc-modified-id="Brief-intro-to-dataset-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Brief intro to dataset</a></span></li><li><span><a href="#Column-manupulations" data-toc-modified-id="Column-manupulations-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Column manupulations</a></span><ul class="toc-item"><li><span><a href="#Rename-the-column" data-toc-modified-id="Rename-the-column-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Rename the column</a></span></li><li><span><a href="#Add-a-new-column" data-toc-modified-id="Add-a-new-column-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Add a new column</a></span></li><li><span><a href="#Unique-values" data-toc-modified-id="Unique-values-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Unique values</a></span></li><li><span><a href="#Frequency-of-each-value" data-toc-modified-id="Frequency-of-each-value-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Frequency of each value</a></span></li><li><span><a href="#Descriptive-stats-and-calculations" data-toc-modified-id="Descriptive-stats-and-calculations-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Descriptive stats and calculations</a></span><ul class="toc-item"><li><span><a href="#Descriptives" data-toc-modified-id="Descriptives-3.2.5.1"><span class="toc-item-num">3.2.5.1&nbsp;&nbsp;</span>Descriptives</a></span></li><li><span><a href="#Calculations" data-toc-modified-id="Calculations-3.2.5.2"><span class="toc-item-num">3.2.5.2&nbsp;&nbsp;</span>Calculations</a></span></li></ul></li><li><span><a href="#Missing-values" data-toc-modified-id="Missing-values-3.2.6"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Missing values</a></span></li><li><span><a href="#Transpose" data-toc-modified-id="Transpose-3.2.7"><span class="toc-item-num">3.2.7&nbsp;&nbsp;</span>Transpose</a></span></li><li><span><a href="#Sort-values" data-toc-modified-id="Sort-values-3.2.8"><span class="toc-item-num">3.2.8&nbsp;&nbsp;</span>Sort values</a></span></li><li><span><a href="#Sort-by-index" data-toc-modified-id="Sort-by-index-3.2.9"><span class="toc-item-num">3.2.9&nbsp;&nbsp;</span>Sort by index</a></span></li><li><span><a href="#Drop-column" data-toc-modified-id="Drop-column-3.2.10"><span class="toc-item-num">3.2.10&nbsp;&nbsp;</span>Drop column</a></span></li></ul></li><li><span><a href="#Rows-manipulations" data-toc-modified-id="Rows-manipulations-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Rows manipulations</a></span><ul class="toc-item"><li><span><a href="#Reindex" data-toc-modified-id="Reindex-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Reindex</a></span></li><li><span><a href="#Add-rows" data-toc-modified-id="Add-rows-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Add rows</a></span></li><li><span><a href="#Check-if-row-is-duplicated" data-toc-modified-id="Check-if-row-is-duplicated-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Check if row is duplicated</a></span></li><li><span><a href="#Drop-duplicates" data-toc-modified-id="Drop-duplicates-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Drop duplicates</a></span></li><li><span><a href="#Drop-missing-rows" data-toc-modified-id="Drop-missing-rows-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span>Drop missing rows</a></span></li><li><span><a href="#Drop-rows" data-toc-modified-id="Drop-rows-3.3.6"><span class="toc-item-num">3.3.6&nbsp;&nbsp;</span>Drop rows</a></span></li><li><span><a href="#Copy-the-DF" data-toc-modified-id="Copy-the-DF-3.3.7"><span class="toc-item-num">3.3.7&nbsp;&nbsp;</span>Copy the DF</a></span></li><li><span><a href="#Fulfill-missing-values" data-toc-modified-id="Fulfill-missing-values-3.3.8"><span class="toc-item-num">3.3.8&nbsp;&nbsp;</span>Fulfill missing values</a></span></li></ul></li><li><span><a href="#Complex-Filter" data-toc-modified-id="Complex-Filter-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Complex Filter</a></span><ul class="toc-item"><li><span><a href="#Boolean-indexing" data-toc-modified-id="Boolean-indexing-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Boolean indexing</a></span></li><li><span><a href="#isin()" data-toc-modified-id="isin()-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>isin()</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Dummies" data-toc-modified-id="Dummies-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Dummies</a></span></li><li><span><a href="#Binning" data-toc-modified-id="Binning-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Binning</a></span><ul class="toc-item"><li><span><a href="#Equal-width-bins" data-toc-modified-id="Equal-width-bins-3.7.1"><span class="toc-item-num">3.7.1&nbsp;&nbsp;</span>Equal width bins</a></span></li><li><span><a href="#Equal-frequency-bins" data-toc-modified-id="Equal-frequency-bins-3.7.2"><span class="toc-item-num">3.7.2&nbsp;&nbsp;</span>Equal frequency bins</a></span></li><li><span><a href="#Custom-sized-bins" data-toc-modified-id="Custom-sized-bins-3.7.3"><span class="toc-item-num">3.7.3&nbsp;&nbsp;</span>Custom sized bins</a></span></li></ul></li></ul></li></ul></div>

# other

In [8]:
ord('A')

65

In [9]:
chr(65)

'A'

In [19]:
lst=[ord(i) for i in 'PQRTUV']

In [20]:
for i in range(min(lst), max(lst)+1):
    if i not in lst:
        print(chr(i))

S

In [26]:
txt='TUVX'
for ix,i in enumerate(txt[:-1]):
    if ord(i)+1 !=ord(txt[ix+1]):
        break
chr(ord(i)+1)

'W'

# yesterday's lab but in Python

In [27]:
ffimport pymysql
from sqlalchemy import create_engine
import pandas as pd
from getpass import getpass

In [28]:
Hostname='localhost'
un='root'
password=getpass()

········

In [29]:
db='finance1'

In [30]:
engine=create_engine(f'mysql+pymysql://{un}:{password}@{Hostname}/{db}')

In [31]:
query="""
select district_id, amount
from account a
inner join loan l on a.account_id=l.account_id"""

**MySQL Solution for avg**  
select district_id, avg(amount) as total_amount  
from xxx  
group by district_id  
order by total_amount desc;

In [32]:
df=pd.read_sql_query(query, engine)

In [46]:
df;

In [44]:
df.groupby('district_id').amount.mean().sort_values(ascending=False).head(5)

district_id
46    294730.000000
14    251365.500000
3     243466.000000
69    242304.000000
6     232886.666667
Name: amount, dtype: float64

In [39]:
df.groupby('district_id').max().sort_values('amount', ascending=False).head(5)

             amount
district_id
54           590820
1            566640
70           541200
5            538500
3            504000

In [40]:
df.groupby('district_id').sum().sort_values('amount', ascending=False).head(5)

               amount
district_id
1            12932412
54            4049400
74            3260220
70            3059820
64            3012768

In [41]:
df.groupby('district_id').median().sort_values('amount', ascending=False).head(5)

             amount
district_id
46           279312
14           276870
67           234174
28           213300
20           206586

# Pandas Manipulations

In [51]:
pd.Series(range(10,100,10))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [59]:
df=pd.DataFrame([range(10,100,10),range(9)], index=list('ab')).T

We can consider DataFrame as a dictionary where the keys of dict are column names, while the values of dict are Series

In [61]:
df['b']

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
Name: b, dtype: int64

In [62]:
url='https://studio.ironhack.school/asset-v1:IRONHACK+DAFT+202006_PAR+type@asset+block@datasets_674388_1186156_tv_shows.csv'

In [67]:
#we can download the file into DataFrame from web diectly via direct link to csv file
df=pd.read_csv(url, index_col='Unnamed: 0')

In [68]:
df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

## Brief intro to dataset

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5611 entries, 0 to 5610
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            5611 non-null   object
 1   Year             5611 non-null   int64
 2   Age              3165 non-null   object
 3   IMDb             4450 non-null   float64
 4   Rotten Tomatoes  1011 non-null   object
 5   Netflix          5611 non-null   int64
 6   Hulu             5611 non-null   int64
 7   Prime Video      5611 non-null   int64
 8   Disney+          5611 non-null   int64
 9   type             5611 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 482.2+ KB

## Column manupulations

### Rename the column

In [72]:
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'type'],
      dtype='object')

In [73]:
# Dumb solution

df.columns=['Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type']

In [74]:
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'type'],
      dtype='object')

In [76]:
df.head()

,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [79]:
#better but still dumb
df.columns=[i.replace(' ','_') for i in df.columns]

```python
DataFrame.rename(columns={'old name':'new name'})

```

In [84]:
#good solution

df.rename(columns={'Age':'age_restr'}).head()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [86]:
df.head()

,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

As we can see, the rename didnt store changes. How can we store them?

In [ ]:
#option 1
df=df.rename(columns={'Age':'age_restr'})

In [87]:
#option 2
df.rename(columns={'Age':'age_restr'}, inplace=True)

In [88]:
df.head()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [90]:
df.rename(columns={'Age':'age_restr', 'asdfghjk':'qwertzu', 'Title':'title'}).head()

,title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

`rename` method simply ignores your misspellings. If it couldn't find the column you wanted to rename - it simply ignoes them. Nothing will happen. You will not see any warning or error message.

### Add a new column

In [92]:
# just a constant
df['new_column']=4

In [93]:
df.head()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4

In [94]:
# duplicate a column that already exists in my df or any other df 
df['duplicated_column']=df['Title']
df.head()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul

In [104]:
# calculated column. Let's say I want to watch all te series wuth IMDb eating higher than 9.2
# I will create a column that contains only 2 values - 'to watch' and 'skip'.

#first of all I need to select the rows where IMDb>9.2
df.IMDb>9.2;

#then we locate those titles
df.loc[df.IMDb>9.2];

#assign a value to a new column
df.loc[df.IMDb>9.2, 'todolist'] = 'to watch'

#assing value 'skip' to the rest of the rows
df.loc[~(df.IMDb>9.2), 'todolist'] = 'skip'

In [105]:
df.head()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul,skip

### Unique values

In [106]:
df.nunique()

Title                5564
Year                   81
age_restr               5
IMDb                   78
Rotten_Tomatoes        88
Netflix                 2
Hulu                    2
Prime_Video             2
Disney+                 2
type                    1
new_column              1
duplicated_column    5564
todolist                2
dtype: int64

In [107]:
df.age_restr.unique()

array(['18+', '16+', '7+', nan, 'all', '13+'], dtype=object)

In [108]:
df.age_restr.nunique()

5

### Frequency of each value

mysql:

select value, count(*)  
from table  
group by value

In [109]:
df.age_restr.value_counts()

16+    1018
7+      848
18+     750
all     545
13+       4
Name: age_restr, dtype: int64

### Descriptive stats and calculations

#### Descriptives

* Mean (average)
* Median
* Mode
* Border values (maximum and minimum)
* Percentiles
* Standard Deviation
* Variance
* Support (number of rows)

In [110]:
df.mean() #average per column

Year           2011.021030
IMDb              7.113258
Netflix           0.344145
Hulu              0.312600
Prime_Video       0.382107
Disney+           0.032080
type              1.000000
new_column        4.000000
dtype: float64

In [112]:
df.mean(axis=1) #average per row

0       252.937500
1       253.850000
2       253.925000
3       253.137500
4       253.712500
           ...
5606    289.142857
5607    289.000000
5608    289.142857
5609    289.000000
5610    288.857143
Length: 5611, dtype: float64

In [114]:
df.mean().mean() #average per table

253.025652580505

In [125]:
df.mean(axis=1).mean() #average per table

260.30021704814476

In [111]:
df.median()

Year           2015.0
IMDb              7.3
Netflix           0.0
Hulu              0.0
Prime_Video       0.0
Disney+           0.0
type              1.0
new_column        4.0
dtype: float64

In [127]:
df.median(axis=1)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
5606    1.0
5607    1.0
5608    1.0
5609    1.0
5610    1.0
Length: 5611, dtype: float64

In [116]:
df.median().median()

0.5

In [117]:
df.median(axis=1).median()

1.0

In [128]:
df.min()

Title                #MeToo, Now What?
Year                              1901
IMDb                                 1
Netflix                              0
Hulu                                 0
Prime_Video                          0
Disney+                              0
type                                 1
new_column                           4
duplicated_column    #MeToo, Now What?
todolist                          skip
dtype: object

In [129]:
df.max()

Title                頭文字D First Stage
Year                             2020
IMDb                              9.6
Netflix                             1
Hulu                                1
Prime_Video                         1
Disney+                             1
type                                1
new_column                          4
duplicated_column    頭文字D First Stage
todolist                     to watch
dtype: object

In [130]:
df.quantile(q=0.25)

Year           2010.0
IMDb              6.6
Netflix           0.0
Hulu              0.0
Prime_Video       0.0
Disney+           0.0
type              1.0
new_column        4.0
Name: 0.25, dtype: float64

In [131]:
df.quantile(q=0.99)

Year           2020.0
IMDb              8.9
Netflix           1.0
Hulu              1.0
Prime_Video       1.0
Disney+           1.0
type              1.0
new_column        4.0
Name: 0.99, dtype: float64

In [132]:
df.std()

Year           11.005116
IMDb            1.132060
Netflix         0.475131
Hulu            0.463594
Prime_Video     0.485946
Disney+         0.176228
type            0.000000
new_column      0.000000
dtype: float64

In [133]:
df.count()

Title                5611
Year                 5611
age_restr            3165
IMDb                 4450
Rotten_Tomatoes      1011
Netflix              5611
Hulu                 5611
Prime_Video          5611
Disney+              5611
type                 5611
new_column           5611
duplicated_column    5611
todolist             5611
dtype: int64

In [134]:
df.describe()

,Year,IMDb,Netflix,Hulu,Prime_Video,Disney+,type,new_column
count,5611.000000,4450.000000,5611.000000,5611.000000,5611.000000,5611.000000,5611.0,5611.0
mean,2011.021030,7.113258,0.344145,0.312600,0.382107,0.032080,1.0,4.0
std,11.005116,1.132060,0.475131,0.463594,0.485946,0.176228,0.0,0.0
min,1901.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
25%,2010.000000,6.600000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
50%,2015.000000,7.300000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
75%,2017.000000,7.900000,1.000000,1.000000,1.000000,0.000000,1.0,4.0
max,2020.000000,9.600000,1.000000,1.000000,1.000000,1.000000,1.0,4.0

In [135]:
df.Year.mode()

0    2017
dtype: int64

In [136]:
df.mode()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Kingdom,2017.0,16+,7.4,100%,0.0,0.0,0.0,0.0,1.0,4.0,Kingdom,skip
1,Undercover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Undercover,NaN

#### Calculations

In [140]:
# get all the numeric columns
df._get_numeric_data().head()

   Year  IMDb  Netflix  Hulu  Prime_Video  Disney+  type  new_column
0  2008   9.5        1     0            0        0     1           4
1  2016   8.8        1     0            0        0     1           4
2  2017   8.4        1     0            0        0     1           4
3  2010   9.1        1     0            0        0     1           4
4  2015   8.7        1     0            0        0     1           4

In order to get non-numeric data:
1. get numeric data
2. get the column names of #1
3. get the column names of df
4. from #3 substract #2
5. select #4 from df

In [1]:
#get numeric data
df._get_numeric_data();

#get the column names
df._get_numeric_data().columns;

#get the column names from df
df.columns;

#substract
lst=[]
for i in df.columns:
    if i not in df._get_numeric_data().columns:
        lst.append(i)

#select        
df[lst];

NameError: name 'df' is not defined

In [147]:
#1liner
df[[i for i in df.columns if i not in df._get_numeric_data().columns]];

In [148]:
#sum the values
df.sum()

Title                Breaking BadStranger ThingsMoney HeistSherlock...
Year                                                          11283839
IMDb                                                             31654
Netflix                                                           1931
Hulu                                                              1754
Prime_Video                                                       2144
Disney+                                                            180
type                                                              5611
new_column                                                       22444
duplicated_column    Breaking BadStranger ThingsMoney HeistSherlock...
todolist             to watchskipskipskipskipskipskipskipskipskipsk...
dtype: object

In [150]:
df.sum(axis=1);

In [155]:
#sum of several columns
#silly way
display(df.Netflix+df['Disney+'])

#pandas way
df.Netflix.add(df['Disney+'])

0       1
1       1
2       1
3       1
4       1
       ..
5606    1
5607    1
5608    1
5609    1
5610    1
Length: 5611, dtype: int64

0       1
1       1
2       1
3       1
4       1
       ..
5606    1
5607    1
5608    1
5609    1
5610    1
Length: 5611, dtype: int64

In [156]:
#difference between columns
#silly way
display(df.Netflix-df['Disney+'])

#pandas way
df['Netflix'].sub(df['Disney+'])

0       1
1       1
2       1
3       1
4       1
       ..
5606   -1
5607   -1
5608   -1
5609   -1
5610   -1
Length: 5611, dtype: int64

0       1
1       1
2       1
3       1
4       1
       ..
5606   -1
5607   -1
5608   -1
5609   -1
5610   -1
Length: 5611, dtype: int64

In [161]:
#column multiplication
#silly way
display(df.Netflix*df['Disney+'])

#pandas way
df['Netflix'].mul(df['Disney+'])

0       0
1       0
2       0
3       0
4       0
       ..
5606    0
5607    0
5608    0
5609    0
5610    0
Length: 5611, dtype: int64

0       0
1       0
2       0
3       0
4       0
       ..
5606    0
5607    0
5608    0
5609    0
5610    0
Length: 5611, dtype: int64

In [162]:
#column division
#silly way
display(df.Netflix/df['Disney+'])

#pandas way
df['Netflix'].div(df['Disney+'])

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
5606    0.0
5607    0.0
5608    0.0
5609    0.0
5610    0.0
Length: 5611, dtype: float64

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
5606    0.0
5607    0.0
5608    0.0
5609    0.0
5610    0.0
Length: 5611, dtype: float64

In [163]:
#column reverse division
#silly way
display(df['Disney+']/df.Netflix)

#pandas way
df['Netflix'].rdiv(df['Disney+'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5606    inf
5607    inf
5608    inf
5609    inf
5610    inf
Length: 5611, dtype: float64

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5606    inf
5607    inf
5608    inf
5609    inf
5610    inf
Length: 5611, dtype: float64

In [164]:
4/3

1.3333333333333333

In [165]:
4//3

1

In [166]:
5//3

1

In [168]:
#column floor division
#silly way
display(df.Netflix//df['Disney+'])

#pandas way
df['Netflix'].floordiv(df['Disney+'])

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
5606    0.0
5607    0.0
5608    0.0
5609    0.0
5610    0.0
Length: 5611, dtype: float64

0       0
1       0
2       0
3       0
4       0
       ..
5606    0
5607    0
5608    0
5609    0
5610    0
Length: 5611, dtype: int64

In [173]:
#difference per row
#here 3 - step, number of rows that we consider 
#row#3-row#0, row#4-row#1, row#5-row#2
df._get_numeric_data().diff()

      Year  IMDb  Netflix  Hulu  Prime_Video  Disney+  type  new_column
0      NaN   NaN      NaN   NaN          NaN      NaN   NaN         NaN
1      8.0  -0.7      0.0   0.0          0.0      0.0   0.0         0.0
2      1.0  -0.4      0.0   0.0          0.0      0.0   0.0         0.0
3     -7.0   0.7      0.0   0.0          0.0      0.0   0.0         0.0
4      5.0  -0.4      0.0   0.0          0.0      0.0   0.0         0.0
...    ...   ...      ...   ...          ...      ...   ...         ...
5606   5.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5607  -1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5608   1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5609  -1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5610  -1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0

[5611 rows x 8 columns]

### Missing values

In [2]:
df.Year.isna()

NameError: name 'df' is not defined

In [176]:
#number of missing values per column
df.isna().sum()

Title                   0
Year                    0
age_restr            2446
IMDb                 1161
Rotten_Tomatoes      4600
Netflix                 0
Hulu                    0
Prime_Video             0
Disney+                 0
type                    0
new_column              0
duplicated_column       0
todolist                0
dtype: int64

### Transpose

In [178]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,5601,5602,5603,5604,5605,5606,5607,5608,5609,5610
Title,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
Year,2008,2016,2017,2010,2015,2005,2011,2005,2013,2005,...,2017,2018,2012,2019,2013,2018,2017,2018,2017,2016
age_restr,18+,16+,18+,16+,18+,16+,18+,16+,18+,7+,...,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb,9.5,8.8,8.4,9.1,8.7,8.9,8.8,8.4,8.8,9.2,...,6.6,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rotten_Tomatoes,96%,93%,91%,78%,97%,81%,83%,93%,92%,100%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netflix,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Hulu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Prime_Video,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Disney+,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
type,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
new_column,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
duplicated_column,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
todolist,to watch,skip,skip,skip,skip,skip,skip,skip,skip,skip,...,skip,skip,skip,skip,skip,skip,skip,skip,skip,skip

In [179]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,5601,5602,5603,5604,5605,5606,5607,5608,5609,5610
Title,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
Year,2008,2016,2017,2010,2015,2005,2011,2005,2013,2005,...,2017,2018,2012,2019,2013,2018,2017,2018,2017,2016
age_restr,18+,16+,18+,16+,18+,16+,18+,16+,18+,7+,...,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb,9.5,8.8,8.4,9.1,8.7,8.9,8.8,8.4,8.8,9.2,...,6.6,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rotten_Tomatoes,96%,93%,91%,78%,97%,81%,83%,93%,92%,100%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netflix,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Hulu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Prime_Video,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Disney+,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
type,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
new_column,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
duplicated_column,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
todolist,to watch,skip,skip,skip,skip,skip,skip,skip,skip,skip,...,skip,skip,skip,skip,skip,skip,skip,skip,skip,skip

### Sort values

```python
DataFrame.sort_values(
    by='column'/'row' or ['first_column','second_column'...],
    axis=0 for columns or 1 for rows,
    ascending = True/False,
    inplace = True/False by default,
    na_position = 'last'/'first' - where do you want to display your missing values,
    ignore_index=False to keep index as it is or to relabel it into 0,1,2...)

```

In [183]:
df.sort_values(by='Rotten_Tomatoes', ascending=False, inplace=True)

### Sort by index

In [187]:
df.sort_index()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,4,Tut's Treasures: Hidden Secrets,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,4,Paradise Islands,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,4,Wild Russia,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,4,Love & Vets,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,4,United States of Animals,skip

### Drop column

In [193]:
df.drop(columns='duplicated_column');

In [194]:
df.drop(columns=['duplicated_column','new_column']);

In [195]:
df.drop('duplicated_column', axis=1);

In [196]:
df.drop(['duplicated_column','new_column'], axis=1);

In [199]:
df.drop('qwert',axis=1) #error, since the column is not there

KeyError: "['qwert'] not found in axis"

## Rows manipulations

### Reindex

In [200]:
ix=pd.Index(list('abcd'))

In [203]:
'c' in ix

True

In [204]:
ix=pd.Index(list('abcd'), name='random')

In [205]:
ix

Index(['a', 'b', 'c', 'd'], dtype='object', name='random')

In [206]:
ix.name

'random'

Lets create a new df with only series that I want to watch.

In [209]:
# select them
df[df.todolist=='to watch'];

#save them
newdf=df[df.todolist=='to watch']
newdf

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
3566,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
3567,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
91,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
325,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
2365,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
3023,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
3177,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
3747,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
4128,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [211]:
newdf.shape

(10, 13)

In [212]:
#how many rows are there?
print('there are',newdf.shape[0], 'rows')

there are 10 rows

In [213]:
#lets create the index
ix=pd.Index(range(newdf.shape[0]), name='rows')

In [216]:
#dumb way
newdf.index=ix
newdf

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
rows,,,,,,,,,,,,,
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
2,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
3,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
4,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
5,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
6,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
7,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [217]:
#pandas way
newdf.set_index(ix) #doesnt store the index in df, just shows it

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
rows,,,,,,,,,,,,,
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
2,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
3,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
4,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
5,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
6,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
7,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

Sometimes we need to deal with multiindex.

In [228]:
mindex=pd.MultiIndex.from_product([range(newdf.shape[0]//2), ['one','two']], names=['one','two'])

In [229]:
mindex

MultiIndex([(0, 'one'),
            (0, 'two'),
            (1, 'one'),
            (1, 'two'),
            (2, 'one'),
            (2, 'two'),
            (3, 'one'),
            (3, 'two'),
            (4, 'one'),
            (4, 'two')],
           names=['one', 'two'])

In [230]:
newdf.set_index(mindex, inplace=True)

In [221]:
df.groupby(['todolist','Netflix']).mean()

                         Year      IMDb      Hulu  Prime_Video   Disney+  \
todolist Netflix
skip     0        2009.379526  7.072682  0.444323     0.557855  0.047373
         1        2014.191909  7.159624  0.061722     0.046680  0.003112
to watch 0        2001.714286  9.428571  0.428571     0.714286  0.000000
         1        2004.666667  9.366667  0.000000     0.000000  0.000000

                  type  new_column
todolist Netflix
skip     0         1.0         4.0
         1         1.0         4.0
to watch 0         1.0         4.0
         1         1.0         4.0

In [223]:
#select only first index
newdf.index.levels[0]

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [224]:
#second only
newdf.index.levels[1]

Index(['one', 'two'], dtype='object')

In [237]:
newdf.index.set_levels(list('ab'), level=1)

MultiIndex([(0, 'a'),
            (0, 'b'),
            (1, 'a'),
            (1, 'b'),
            (2, 'a'),
            (2, 'b'),
            (3, 'a'),
            (3, 'b'),
            (4, 'a'),
            (4, 'b')],
           names=['one', 'two'])

In [231]:
#YOu dont want to have multiindex anymore? reset it!
newdf.reset_index()

,one,two,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,0,one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,0,two,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
2,1,one,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
3,1,two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
4,2,one,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
5,2,two,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
6,3,one,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
7,3,two,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
8,4,one,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,4,two,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [233]:
df.groupby(['todolist','Netflix']).mean().reset_index()

,todolist,Netflix,Year,IMDb,Hulu,Prime_Video,Disney+,type,new_column
0,skip,0,2009.379526,7.072682,0.444323,0.557855,0.047373,1.0,4.0
1,skip,1,2014.191909,7.159624,0.061722,0.046680,0.003112,1.0,4.0
2,to watch,0,2001.714286,9.428571,0.428571,0.714286,0.000000,1.0,4.0
3,to watch,1,2004.666667,9.366667,0.000000,0.000000,0.000000,1.0,4.0

In [239]:
#move specific level into a column
newdf.reset_index(level=1)

,two,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
one,,,,,,,,,,,,,,
0,one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
0,two,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
1,one,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
1,two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
2,one,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
2,two,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
3,one,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
3,two,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
4,one,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
4,two,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [265]:
#I dont want to have a specific level neither as column nor as index
newdf.reset_index(level=1, drop=True)

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
one,,,,,,,,,,,,,
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
0,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
1,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
1,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
2,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
2,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
3,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
3,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
4,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
4,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [242]:
newdf.reset_index(drop=True)

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
2,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
3,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
4,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
5,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
6,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
7,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [249]:
newdf.loc[(0,'one')]

Title                Breaking Bad
Year                         2008
age_restr                     18+
IMDb                          9.5
Rotten_Tomatoes               96%
Netflix                         1
Hulu                            0
Prime_Video                     0
Disney+                         0
type                            1
new_column                      4
duplicated_column    Breaking Bad
todolist                 to watch
Name: (0, one), dtype: object

In [256]:
newdf.loc[(0,'two')]

Title                The Wire
Year                     2002
age_restr                 18+
IMDb                      9.3
Rotten_Tomatoes           94%
Netflix                     0
Hulu                        0
Prime_Video                 1
Disney+                     0
type                        1
new_column                  4
duplicated_column    The Wire
todolist             to watch
Name: (0, two), dtype: object

### Add rows

In [264]:
df.append(newdf.reset_index(drop=True))

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
136,Alias Grace,2017,18+,7.8,99%,1,0,0,0,1,4,Alias Grace,skip
74,Ash vs Evil Dead,2015,18+,8.4,99%,1,0,0,0,1,4,Ash vs Evil Dead,skip
2006,Broad City,2014,18+,8.4,99%,0,1,0,0,1,4,Broad City,skip
2002,Younger,2015,16+,7.8,99%,0,1,0,0,1,4,Younger,skip
129,One Day at a Time,2017,7+,8.2,99%,1,0,0,0,1,4,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2, two)",The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
"(3, one)",Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
"(3, two)",Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
"(4, one)",Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
"(4, two)",Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [272]:
df=df.append(newdf, ignore_index=True)

In [267]:
df.loc['crocodile',:]=['Random movie',2014,'all',11,'50%',0,0,0,0,2,5,'','skip']

In [269]:
df.tail()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
crocodile,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

### Check if row is duplicated

In [274]:
df[df.duplicated()]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5614,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [288]:
df[df.duplicated(subset=['Title','Year'], keep=False)]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
66,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
118,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
121,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
141,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
1062,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2669,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3238,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3389,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3824,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4161,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5614,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [289]:
df[df.duplicated(subset=['Title','Year'], keep='first')]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5614,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [290]:
df[df.duplicated(subset=['Title','Year'], keep='last')]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
66,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
118,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
121,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
141,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
1062,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2669,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3238,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3389,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3824,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4161,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [291]:
df[df.duplicated(subset=['Title'], keep='last')]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
59,The Office,2001.0,16+,8.5,96%,0.0,1.0,0.0,0.0,1.0,4.0,The Office,skip
66,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
70,Kingdom,2019.0,18+,8.4,96%,1.0,0.0,0.0,0.0,1.0,4.0,Kingdom,skip
108,Fresh Off the Boat,2015.0,7+,7.8,94%,0.0,1.0,0.0,0.0,1.0,4.0,Fresh Off the Boat,skip
118,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
121,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
141,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
208,The Outer Limits,1963.0,7+,8.2,91%,0.0,1.0,0.0,0.0,1.0,4.0,The Outer Limits,skip
259,The Librarians,2014.0,16+,7.3,89%,0.0,1.0,0.0,0.0,1.0,4.0,The Librarians,skip
333,Rome,2005.0,18+,8.7,86%,0.0,0.0,1.0,0.0,1.0,4.0,Rome,skip
347,The Baker and the Beauty,2020.0,7+,7.1,86%,0.0,1.0,0.0,0.0,1.0,4.0,The Baker and the Beauty,skip
363,Shameless,2011.0,18+,8.6,85%,1.0,0.0,0.0,0.0,1.0,4.0,Shameless,skip
367,Maniac,2018.0,16+,7.8,85%,1.0,0.0,0.0,0.0,1.0,4.0,Maniac,skip
412,Wilfred,2011.0,18+,7.8,83%,0.0,1.0,0.0,0.0,1.0,4.0,Wilfred,skip
424,Battlestar Galactica,2004.0,16+,8.6,82%,0.0,1.0,0.0,0.0,1.0,4.0,Battlestar Galactica,skip
520,Baby Daddy,2015.0,16+,6.0,78%,1.0,0.0,0.0,0.0,1.0,4.0,Baby Daddy,skip
544,Frequency,2016.0,7+,7.5,77%,1.0,0.0,0.0,0.0,1.0,4.0,Frequency,skip
566,Undercover,2016.0,16+,6.8,75%,0.0,0.0,1.0,0.0,1.0,4.0,Undercover,skip
569,Lost in Space,2018.0,7+,7.3,75%,1.0,0.0,0.0,0.0,1.0,4.0,Lost in Space,skip
573,Charmed,1998.0,16+,7.1,75%,1.0,0.0,0.0,0.0,1.0,4.0,Charmed,skip
575,Moby Dick,1998.0,7+,6.4,75%,0.0,0.0,1.0,0.0,1.0,4.0,Moby Dick,skip
644,American Gothic,1995.0,7+,8.1,67%,0.0,1.0,0.0,0.0,1.0,4.0,American Gothic,skip
657,Marco Polo,2014.0,18+,8.0,67%,1.0,0.0,0.0,0.0,1.0,4.0,Marco Polo,skip
720,Melrose Place,2009.0,16+,6.0,60%,0.0,1.0,0.0,0.0,1.0,4.0,Melrose Place,skip
763,Shark,2006.0,16+,7.1,52%,0.0,1.0,0.0,0.0,1.0,4.0,Shark,skip
785,The Good Cop,2018.0,16+,7.0,50%,1.0,0.0,0.0,0.0,1.0,4.0,The Good Cop,skip
859,Kojak,2005.0,NaN,5.4,33%,0.0,1.0,0.0,0.0,1.0,4.0,Kojak,skip
889,Westside,2018.0,16+,5.8,20%,1.0,0.0,0.0,0.0,1.0,4.0,Westside,skip
918,DuckTales,2017.0,7+,8.2,100%,0.0,0.0,0.0,1.0,1.0,4.0,DuckTales,skip
971,The Code,2011.0,NaN,7.4,100%,1.0,0.0,0.0,0.0,1.0,4.0,The Code,skip
1062,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
1187,Undercover,2019.0,18+,7.9,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Undercover,skip
1222,Inspector Gadget,1983.0,7+,6.8,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Inspector Gadget,skip
1335,Ben 10,2016.0,7+,2.5,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ben 10,skip
1457,Danger Mouse,1981.0,7+,7.4,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Danger Mouse,skip
1660,Max Steel,2013.0,7+,6.7,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Max Steel,skip
1734,Summertime,2020.0,18+,6.7,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Summertime,skip
1833,Fearless,2016.0,NaN,7.1,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Fearless,skip
2552,Jane Eyre,2006.0,7+,8.3,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Jane Eyre,skip
2578,Bleak House,2005.0,16+,8.3,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Bleak House,skip
2647,Party of Five,1994.0,7+,6.8,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Party of Five,skip
2666,Fruits Basket,2019.0,7+,8.3,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Fruits Basket,skip
2669,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
2699,The Powerpuff Girls,1998.0,7+,7.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Powerpuff Girls,skip
2795,The Kennedys,2011.0,18+,7.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Kennedys,skip
2804,The Incredible Hulk,1978.0,7+,7.0,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Incredible Hulk,skip
2827,Kingdom,2007.0,NaN,7.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Kingdom,skip
2842,American Gladiators,1989.0,7+,6.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,American Gladiators,skip
2996,No Activity,2017.0,18+,6.7,NaN,0.0,1.0,0.0,0.0,1.0,4.0,No Activity,skip
3035,Abandoned,2016.0,16+,8.4,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Abandoned,skip
3238,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3389,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3824,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
3843,Elizabeth I,2005.0,18+,7.9,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Elizabeth I,skip
3951,Clifford the Big Red Dog,2000.0,all,6.6,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Clifford the Big Red Dog,skip
4161,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch
4422,Baby Talk,1991.0,all,4.2,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Baby Talk,skip

In [292]:
df.loc[df.Title=='The Office']

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
59,The Office,2001.0,16+,8.5,96%,0.0,1.0,0.0,0.0,1.0,4.0,The Office,skip
454,The Office,2005.0,16+,8.9,81%,1.0,0.0,0.0,0.0,1.0,4.0,The Office,skip

In [295]:
df.duplicated(subset=['Year'])

0       False
1       False
2       False
3        True
4        True
        ...
5617     True
5618     True
5619     True
5620     True
5621     True
Length: 5622, dtype: bool

### Drop duplicates

In [296]:
df.drop_duplicates()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [297]:
df.drop_duplicates(subset=['Title'])

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [298]:
df.drop_duplicates(subset=['Title'], keep=False)

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [299]:
df.drop_duplicates(subset=['Title'], keep='last')

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### Drop missing rows

In [300]:
df.dropna()

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5614,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch

### Drop rows

In [311]:
df.drop(range(10))

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
10,Wild Wild Country,2018.0,16+,8.2,98%,1.0,0.0,0.0,0.0,1.0,4.0,Wild Wild Country,skip
11,Catastrophe,2015.0,18+,8.2,98%,0.0,0.0,1.0,0.0,1.0,4.0,Catastrophe,skip
12,The Durrells,2016.0,7+,8.1,98%,0.0,0.0,1.0,0.0,1.0,4.0,The Durrells,skip
13,Harlots,2017.0,18+,7.7,98%,0.0,1.0,0.0,0.0,1.0,4.0,Harlots,skip
14,Last Tango in Halifax,2012.0,16+,8.3,98%,1.0,0.0,0.0,0.0,1.0,4.0,Last Tango in Halifax,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [310]:
df.drop(df[df.todolist=='skip'].index)

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
66,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
118,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
121,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
141,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
1062,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2669,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3238,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3389,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3824,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4161,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5614,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### Copy the DF

In [312]:
df2=df.copy()

In [313]:
df2

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [314]:
df3=df

In [315]:
df3 is df

True

In [317]:
df2 is df

False

### Fulfill missing values

In [319]:
df.isna().sum()

Title                   0
Year                    0
age_restr            2448
IMDb                 1161
Rotten_Tomatoes      4606
Netflix                 0
Hulu                    0
Prime_Video             0
Disney+                 0
type                    0
new_column              0
duplicated_column       0
todolist                0
dtype: int64

In [322]:
df.fillna(0)

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,0,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,0,9.6,0,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,0,9.5,0,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,0,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,0,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

We can fullfill our missing values using 2 methods:
* ffill
* bfill

In [325]:
df.fillna(method='ffill')

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,93%,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,all,9.6,93%,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,all,9.5,93%,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,93%,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,93%,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [326]:
df.fillna(method='bfill')

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Alias Grace,2017.0,18+,7.8,99%,1.0,0.0,0.0,0.0,1.0,4.0,Alias Grace,skip
1,Ash vs Evil Dead,2015.0,18+,8.4,99%,1.0,0.0,0.0,0.0,1.0,4.0,Ash vs Evil Dead,skip
2,Broad City,2014.0,18+,8.4,99%,0.0,1.0,0.0,0.0,1.0,4.0,Broad City,skip
3,Younger,2015.0,16+,7.8,99%,0.0,1.0,0.0,0.0,1.0,4.0,Younger,skip
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5618,Destiny,2014.0,all,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5619,Hungry Henry,2014.0,all,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [328]:
df.fillna() #at least smth should be specified

ValueError: Must specify a fill 'value' or 'method'.

## Complex Filter

### Boolean indexing

In [329]:
# series with premier in the latest year

lyear=df.Year.max()
lyear

2020.0

In [332]:
df.Year==lyear

0       False
1       False
2       False
3       False
4       False
        ...
5617    False
5618    False
5619    False
5620    False
5621    False
Name: Year, Length: 5622, dtype: bool

In [331]:
df[df.Year==lyear]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
28,Never Have I Ever,2020.0,16+,8.0,97%,1.0,0.0,0.0,0.0,1.0,4.0,Never Have I Ever,skip
53,Cheer,2020.0,16+,8.2,96%,1.0,0.0,0.0,0.0,1.0,4.0,Cheer,skip
55,Mrs. America,2020.0,18+,7.5,96%,0.0,1.0,0.0,0.0,1.0,4.0,Mrs. America,skip
104,Everything's Gonna Be Okay,2020.0,16+,7.0,94%,0.0,1.0,0.0,0.0,1.0,4.0,Everything's Gonna Be Okay,skip
113,Unorthodox,2020.0,18+,8.1,94%,1.0,0.0,0.0,0.0,1.0,4.0,Unorthodox,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,Short Circuit,2020.0,all,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Short Circuit,skip
5570,It's A Dog's Life,2020.0,7+,5.2,NaN,0.0,0.0,0.0,1.0,1.0,4.0,It's A Dog's Life,skip
5576,Be our Chef,2020.0,all,6.9,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Be our Chef,skip
5577,Shop Class,2020.0,all,7.2,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Shop Class,skip
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Secrets of the Zoo: Tampa,skip

In [335]:
# series with IMDb rating above 8 and last year
df.Year==lyear

df.IMDb>8

df[(df.Year==lyear)&(df.IMDb>8)]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
53,Cheer,2020.0,16+,8.2,96%,1.0,0.0,0.0,0.0,1.0,4.0,Cheer,skip
113,Unorthodox,2020.0,18+,8.1,94%,1.0,0.0,0.0,0.0,1.0,4.0,Unorthodox,skip
244,The Midnight Gospel,2020.0,18+,8.4,90%,1.0,0.0,0.0,0.0,1.0,4.0,The Midnight Gospel,skip
400,Normal People,2020.0,NaN,8.8,83%,0.0,1.0,0.0,0.0,1.0,4.0,Normal People,skip
445,Upload,2020.0,NaN,8.2,81%,0.0,0.0,1.0,0.0,1.0,4.0,Upload,skip
465,ZeroZeroZero,2020.0,18+,8.2,80%,0.0,0.0,1.0,0.0,1.0,4.0,ZeroZeroZero,skip
484,The Trials of Gabriel Fernandez,2020.0,18+,8.2,80%,1.0,0.0,0.0,0.0,1.0,4.0,The Trials of Gabriel Fernandez,skip
579,Zoey's Extraordinary Playlist,2020.0,16+,8.1,74%,0.0,1.0,0.0,0.0,1.0,4.0,Zoey's Extraordinary Playlist,skip
709,DAVE,2020.0,18+,8.4,62%,0.0,1.0,0.0,0.0,1.0,4.0,DAVE,skip
927,Middleditch & Schwartz,2020.0,18+,8.7,100%,1.0,0.0,0.0,0.0,1.0,4.0,Middleditch & Schwartz,skip
1076,Itaewon Class,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Itaewon Class,skip
1077,Caliphate,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Caliphate,skip
1148,The King: Eternal Monarch,2020.0,NaN,8.5,NaN,1.0,0.0,0.0,0.0,1.0,4.0,The King: Eternal Monarch,skip
1220,Night on Earth,2020.0,7+,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Night on Earth,skip
1226,Kipo and the Age of Wonderbeasts,2020.0,NaN,8.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Kipo and the Age of Wonderbeasts,skip
1367,Hospital Playlist,2020.0,NaN,8.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Hospital Playlist,skip
1471,Handsome Siblings,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Handsome Siblings,skip
1744,Go! Go! Cory Carson,2020.0,all,8.1,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Go! Go! Cory Carson,skip
2175,Buddi,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Buddi,skip
2547,Solar Opposites,2020.0,18+,8.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Solar Opposites,skip
3178,Jeopardy! The Greatest of All Time,2020.0,7+,8.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Jeopardy! The Greatest of All Time,skip
3790,The Test: A New Era For Australia's Team,2020.0,NaN,9.0,NaN,0.0,0.0,1.0,0.0,1.0,4.0,The Test: A New Era For Australia's Team,skip
3851,James May: Our Man In Japan,2020.0,NaN,8.4,NaN,0.0,0.0,1.0,0.0,1.0,4.0,James May: Our Man In Japan,skip
5491,Disney Gallery / Star Wars: The Mandalorian,2020.0,7+,8.5,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Disney Gallery / Star Wars: The Mandalorian,skip
5505,Prop Culture,2020.0,7+,8.6,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Prop Culture,skip
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Secrets of the Zoo: Tampa,skip

```mysql
select col1, col2
from df
wher Year=lyear & IMDb>8
```

In [336]:
df.loc[(df.Year==lyear)&(df.IMDb>8), ['Title','Netflix']]

                                            Title  Netflix
53                                          Cheer      1.0
113                                    Unorthodox      1.0
244                           The Midnight Gospel      1.0
400                                 Normal People      0.0
445                                        Upload      0.0
465                                  ZeroZeroZero      0.0
484               The Trials of Gabriel Fernandez      1.0
579                 Zoey's Extraordinary Playlist      0.0
709                                          DAVE      0.0
927                        Middleditch & Schwartz      1.0
1076                                Itaewon Class      1.0
1077                                    Caliphate      1.0
1148                    The King: Eternal Monarch      1.0
1220                               Night on Earth      1.0
1226             Kipo and the Age of Wonderbeasts      1.0
1367                            Hospital Playlist      1.0
1471                            Handsome Siblings      1.0
1744                          Go! Go! Cory Carson      1.0
2175                                        Buddi      1.0
2547                              Solar Opposites      0.0
3178           Jeopardy! The Greatest of All Time      0.0
3790     The Test: A New Era For Australia's Team      0.0
3851                  James May: Our Man In Japan      0.0
5491  Disney Gallery / Star Wars: The Mandalorian      0.0
5505                                 Prop Culture      0.0
5593                    Secrets of the Zoo: Tampa      0.0

In [337]:
df.loc[(df.Year==lyear)&(df.IMDb>8), 'Title':'Netflix']

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix
53,Cheer,2020.0,16+,8.2,96%,1.0
113,Unorthodox,2020.0,18+,8.1,94%,1.0
244,The Midnight Gospel,2020.0,18+,8.4,90%,1.0
400,Normal People,2020.0,NaN,8.8,83%,0.0
445,Upload,2020.0,NaN,8.2,81%,0.0
465,ZeroZeroZero,2020.0,18+,8.2,80%,0.0
484,The Trials of Gabriel Fernandez,2020.0,18+,8.2,80%,1.0
579,Zoey's Extraordinary Playlist,2020.0,16+,8.1,74%,0.0
709,DAVE,2020.0,18+,8.4,62%,0.0
927,Middleditch & Schwartz,2020.0,18+,8.7,100%,1.0
1076,Itaewon Class,2020.0,NaN,8.2,NaN,1.0
1077,Caliphate,2020.0,NaN,8.2,NaN,1.0
1148,The King: Eternal Monarch,2020.0,NaN,8.5,NaN,1.0
1220,Night on Earth,2020.0,7+,8.2,NaN,1.0
1226,Kipo and the Age of Wonderbeasts,2020.0,NaN,8.3,NaN,1.0
1367,Hospital Playlist,2020.0,NaN,8.3,NaN,1.0
1471,Handsome Siblings,2020.0,NaN,8.2,NaN,1.0
1744,Go! Go! Cory Carson,2020.0,all,8.1,NaN,1.0
2175,Buddi,2020.0,NaN,8.2,NaN,1.0
2547,Solar Opposites,2020.0,18+,8.2,NaN,0.0
3178,Jeopardy! The Greatest of All Time,2020.0,7+,8.6,NaN,0.0
3790,The Test: A New Era For Australia's Team,2020.0,NaN,9.0,NaN,0.0
3851,James May: Our Man In Japan,2020.0,NaN,8.4,NaN,0.0
5491,Disney Gallery / Star Wars: The Mandalorian,2020.0,7+,8.5,NaN,0.0
5505,Prop Culture,2020.0,7+,8.6,NaN,0.0
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0

In [342]:
df.iloc[((df.Year==lyear)&(df.IMDb>8)).values, 0:3]

                                            Title    Year age_restr
53                                          Cheer  2020.0       16+
113                                    Unorthodox  2020.0       18+
244                           The Midnight Gospel  2020.0       18+
400                                 Normal People  2020.0       NaN
445                                        Upload  2020.0       NaN
465                                  ZeroZeroZero  2020.0       18+
484               The Trials of Gabriel Fernandez  2020.0       18+
579                 Zoey's Extraordinary Playlist  2020.0       16+
709                                          DAVE  2020.0       18+
927                        Middleditch & Schwartz  2020.0       18+
1076                                Itaewon Class  2020.0       NaN
1077                                    Caliphate  2020.0       NaN
1148                    The King: Eternal Monarch  2020.0       NaN
1220                               Night on Earth  2020.0        7+
1226             Kipo and the Age of Wonderbeasts  2020.0       NaN
1367                            Hospital Playlist  2020.0       NaN
1471                            Handsome Siblings  2020.0       NaN
1744                          Go! Go! Cory Carson  2020.0       all
2175                                        Buddi  2020.0       NaN
2547                              Solar Opposites  2020.0       18+
3178           Jeopardy! The Greatest of All Time  2020.0        7+
3790     The Test: A New Era For Australia's Team  2020.0       NaN
3851                  James May: Our Man In Japan  2020.0       NaN
5491  Disney Gallery / Star Wars: The Mandalorian  2020.0        7+
5505                                 Prop Culture  2020.0        7+
5593                    Secrets of the Zoo: Tampa  2020.0       NaN

In [343]:
# select top 100 rows and first 5 columns
df.iloc[range(100),0:5]

                      Title    Year age_restr  IMDb Rotten_Tomatoes
0               Alias Grace  2017.0       18+   7.8             99%
1          Ash vs Evil Dead  2015.0       18+   8.4             99%
2                Broad City  2014.0       18+   8.4             99%
3                   Younger  2015.0       16+   7.8             99%
4         One Day at a Time  2017.0        7+   8.2             99%
..                      ...     ...       ...   ...             ...
95         Difficult People  2015.0       18+   7.0             95%
96            The Good Wife  2009.0       16+   8.3             94%
97                  Mad Men  2007.0       16+   8.6             94%
98  Flight of the Conchords  2007.0       16+   8.5             94%
99     Mozart in the Jungle  2014.0       18+   8.2             94%

[100 rows x 5 columns]

### isin()

In [344]:
'e' in 'abcd'

False

In [346]:
df.age_restr.value_counts()

16+    1018
7+      849
18+     753
all     550
13+       4
Name: age_restr, dtype: int64

In [347]:
df[df.age_restr=='13+']

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
787,Powder,1995.0,13+,6.6,50%,1.0,0.0,0.0,0.0,1.0,4.0,Powder,skip
846,Behind Enemy Lines,2001.0,13+,6.4,37%,1.0,0.0,0.0,0.0,1.0,4.0,Behind Enemy Lines,skip
856,The In-Laws,2003.0,13+,5.7,34%,1.0,0.0,0.0,0.0,1.0,4.0,The In-Laws,skip
4061,Dark Knight,2000.0,13+,5.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Dark Knight,skip

In [348]:
df[(df.age_restr=='13+')|(df.age_restr=='7+')|(df.age_restr=='all')]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
12,The Durrells,2016.0,7+,8.1,98%,0.0,0.0,1.0,0.0,1.0,4.0,The Durrells,skip
15,Nailed It!,2018.0,7+,7.4,98%,1.0,0.0,0.0,0.0,1.0,4.0,Nailed It!,skip
30,Ugly Betty,2006.0,7+,6.5,97%,0.0,1.0,0.0,0.0,1.0,4.0,Ugly Betty,skip
32,She-Ra and the Princesses of Power,2018.0,all,7.3,97%,1.0,0.0,0.0,0.0,1.0,4.0,She-Ra and the Princesses of Power,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [351]:
df[df.age_restr.isin(('13+','7+','all','buaaa'))]

,Title,Year,age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
4,One Day at a Time,2017.0,7+,8.2,99%,1.0,0.0,0.0,0.0,1.0,4.0,One Day at a Time,skip
12,The Durrells,2016.0,7+,8.1,98%,0.0,0.0,1.0,0.0,1.0,4.0,The Durrells,skip
15,Nailed It!,2018.0,7+,7.4,98%,1.0,0.0,0.0,0.0,1.0,4.0,Nailed It!,skip
30,Ugly Betty,2006.0,7+,6.5,97%,0.0,1.0,0.0,0.0,1.0,4.0,Ugly Betty,skip
32,She-Ra and the Princesses of Power,2018.0,all,7.3,97%,1.0,0.0,0.0,0.0,1.0,4.0,She-Ra and the Princesses of Power,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5615,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5616,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5617,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

## Strings

In [353]:
df.Title.str.upper()

0               ALIAS GRACE
1          ASH VS EVIL DEAD
2                BROAD CITY
3                   YOUNGER
4         ONE DAY AT A TIME
               ...
5617    THE JOY OF PAINTING
5618                DESTINY
5619           HUNGRY HENRY
5620           MALGUDI DAYS
5621         GREEN PARADISE
Name: Title, Length: 5622, dtype: object

In [354]:
df.Title.str.lower()

0               alias grace
1          ash vs evil dead
2                broad city
3                   younger
4         one day at a time
               ...
5617    the joy of painting
5618                destiny
5619           hungry henry
5620           malgudi days
5621         green paradise
Name: Title, Length: 5622, dtype: object

In [355]:
df.Title.str.isupper()

0       False
1       False
2       False
3       False
4       False
        ...
5617    False
5618    False
5619    False
5620    False
5621    False
Name: Title, Length: 5622, dtype: bool

In [356]:
df.Title.str.islower()

0       False
1       False
2       False
3       False
4       False
        ...
5617    False
5618    False
5619    False
5620    False
5621    False
Name: Title, Length: 5622, dtype: bool

In [357]:
df.Title.str.capitalize()

0               Alias grace
1          Ash vs evil dead
2                Broad city
3                   Younger
4         One day at a time
               ...
5617    The joy of painting
5618                Destiny
5619           Hungry henry
5620           Malgudi days
5621         Green paradise
Name: Title, Length: 5622, dtype: object

In [358]:
df.Title.str.title()

0               Alias Grace
1          Ash Vs Evil Dead
2                Broad City
3                   Younger
4         One Day At A Time
               ...
5617    The Joy Of Painting
5618                Destiny
5619           Hungry Henry
5620           Malgudi Days
5621         Green Paradise
Name: Title, Length: 5622, dtype: object

In [360]:
df.Title.str.strip('A')

0                lias Grace
1           sh vs Evil Dead
2                Broad City
3                   Younger
4         One Day at a Time
               ...
5617    The Joy of Painting
5618                Destiny
5619           Hungry Henry
5620           Malgudi Days
5621         Green Paradise
Name: Title, Length: 5622, dtype: object

In [362]:
df.Title.str.strip('Ae')

0                 lias Grac
1           sh vs Evil Dead
2                Broad City
3                   Younger
4          One Day at a Tim
               ...
5617    The Joy of Painting
5618                Destiny
5619           Hungry Henry
5620           Malgudi Days
5621          Green Paradis
Name: Title, Length: 5622, dtype: object

In [363]:
df.Title.str.split()

0                 [Alias, Grace]
1          [Ash, vs, Evil, Dead]
2                  [Broad, City]
3                      [Younger]
4        [One, Day, at, a, Time]
                  ...
5617    [The, Joy, of, Painting]
5618                   [Destiny]
5619             [Hungry, Henry]
5620             [Malgudi, Days]
5621           [Green, Paradise]
Name: Title, Length: 5622, dtype: object

In [367]:
df.columns.str.lower().str.strip(' +').str.replace('_',' ')

Index(['title', 'year', 'age restr', 'imdb', 'rotten tomatoes', 'netflix',
       'hulu', 'prime video', 'disney', 'type', 'new column',
       'duplicated column', 'todolist'],
      dtype='object')

In [368]:
df.Title.str.split().str.get(0)

0         Alias
1           Ash
2         Broad
3       Younger
4           One
         ...
5617        The
5618    Destiny
5619     Hungry
5620    Malgudi
5621      Green
Name: Title, Length: 5622, dtype: object

In [370]:
df.Title.str.split().str.get(25)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
5617   NaN
5618   NaN
5619   NaN
5620   NaN
5621   NaN
Name: Title, Length: 5622, dtype: float64

In [371]:
df.Title.str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Alias,Grace,None,None,None,None,None,None,None,None,None,None,None
1,Ash,vs,Evil,Dead,None,None,None,None,None,None,None,None,None
2,Broad,City,None,None,None,None,None,None,None,None,None,None,None
3,Younger,None,None,None,None,None,None,None,None,None,None,None,None
4,One,Day,at,a,Time,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,The,Joy,of,Painting,None,None,None,None,None,None,None,None,None
5618,Destiny,None,None,None,None,None,None,None,None,None,None,None,None
5619,Hungry,Henry,None,None,None,None,None,None,None,None,None,None,None
5620,Malgudi,Days,None,None,None,None,None,None,None,None,None,None,None
5621,Green,Paradise,None,None,None,None,None,None,None,None,None,None,None

In [374]:
df.Title.str.replace('A',':(', case=False)

0             :(li:(s Gr:(ce
1         :(sh vs Evil De:(d
2                Bro:(d City
3                    Younger
4       One D:(y :(t :( Time
                ...
5617    The Joy of P:(inting
5618                 Destiny
5619            Hungry Henry
5620          M:(lgudi D:(ys
5621        Green P:(r:(dise
Name: Title, Length: 5622, dtype: object

In [377]:
df.Title.str.replace(r'\w+ ',':(')

0              :(Grace
1           :(:(:(Dead
2               :(City
3              Younger
4         :(:(:(:(Time
             ...
5617    :(:(:(Painting
5618           Destiny
5619           :(Henry
5620            :(Days
5621        :(Paradise
Name: Title, Length: 5622, dtype: object

In [378]:
#Merge several string columns into 1

df.Title.str.cat(': '+df.todolist.str.upper(), na_rep='whatever else')

0                   Alias Grace: SKIP
1              Ash vs Evil Dead: SKIP
2                    Broad City: SKIP
3                       Younger: SKIP
4             One Day at a Time: SKIP
                    ...
5617    The Joy of Painting: TO WATCH
5618                Destiny: TO WATCH
5619           Hungry Henry: TO WATCH
5620           Malgudi Days: TO WATCH
5621         Green Paradise: TO WATCH
Name: Title, Length: 5622, dtype: object

In [379]:
df.Title.str.startswith('A')

0        True
1        True
2       False
3       False
4       False
        ...
5617    False
5618    False
5619    False
5620    False
5621    False
Name: Title, Length: 5622, dtype: bool

In [380]:
df.Title.str.contains('Day')

0       False
1       False
2       False
3       False
4        True
        ...
5617    False
5618    False
5619    False
5620     True
5621    False
Name: Title, Length: 5622, dtype: bool

In [381]:
df.Title.str.contains('Day', case=False)

0       False
1       False
2       False
3       False
4        True
        ...
5617    False
5618    False
5619    False
5620     True
5621    False
Name: Title, Length: 5622, dtype: bool

## Dummies

In [385]:
df.todolist.str.get_dummies();

In [384]:
df.todolist.str.get_dummies(sep=' ');

In [3]:
pd.get_dummies(df.todolist, drop_first=True);

NameError: name 'pd' is not defined

In [396]:
pd.get_dummies(data=df, columns=['todolist','age_restr'], prefix='buaaaa');

In [392]:
df3=pd.get_dummies(data=df, columns=['todolist','age_restr'])

In [395]:
df3;

## Binning

There are 3 main ways of binning:
* equal width bins
* equal frequency bins
* custom ones

### Equal width bins

In [398]:
labels=['Terrible','Bad','ok','Good','Amazing']

In [399]:
df.IMDb.describe()

count    4461.000000
mean        7.119278
std         1.137366
min         1.000000
25%         6.600000
50%         7.300000
75%         7.900000
max        11.000000
Name: IMDb, dtype: float64

In [ ]:
1-3
3-5
5-7
7-9
9-11

In [400]:
pd.cut(df.IMDb, 5)

0        (7.0, 9.0]
1        (7.0, 9.0]
2        (7.0, 9.0]
3        (7.0, 9.0]
4        (7.0, 9.0]
           ...
5617    (9.0, 11.0]
5618    (9.0, 11.0]
5619    (9.0, 11.0]
5620    (9.0, 11.0]
5621    (9.0, 11.0]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.99, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0] < (9.0, 11.0]]

In [403]:
bins=pd.cut(df.IMDb, 5, labels=labels)

In [405]:
bins

0          Good
1          Good
2          Good
3          Good
4          Good
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): [Terrible < Bad < ok < Good < Amazing]

In [412]:
bins, representation =pd.cut(df.IMDb, 5, labels=labels, retbins=True)

In [409]:
bins

0          Good
1          Good
2          Good
3          Good
4          Good
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): [Terrible < Bad < ok < Good < Amazing]

In [410]:
representation

array([ 0.99,  3.  ,  5.  ,  7.  ,  9.  , 11.  ])

(0.99-3] - Terrible  
(3-5] - Bad...

### Equal frequency bins

In [413]:
bins=pd.qcut(df.IMDb, 5)
bins

0        (7.5, 8.1]
1       (8.1, 11.0]
2       (8.1, 11.0]
3        (7.5, 8.1]
4       (8.1, 11.0]
           ...
5617    (8.1, 11.0]
5618    (8.1, 11.0]
5619    (8.1, 11.0]
5620    (8.1, 11.0]
5621    (8.1, 11.0]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.999, 6.3] < (6.3, 7.1] < (7.1, 7.5] < (7.5, 8.1] < (8.1, 11.0]]

In [414]:
bins=pd.qcut(df.IMDb, 5, labels=labels)
bins

0          Good
1       Amazing
2       Amazing
3          Good
4       Amazing
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): [Terrible < Bad < ok < Good < Amazing]

In [415]:
bins, representation =pd.qcut(df.IMDb, 5, labels=labels, retbins=True)

In [416]:
bins

0          Good
1       Amazing
2       Amazing
3          Good
4       Amazing
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): [Terrible < Bad < ok < Good < Amazing]

In [417]:
representation

array([ 1. ,  6.3,  7.1,  7.5,  8.1, 11. ])

In [418]:
bins.value_counts()

Bad         1041
Good        1012
Terrible     894
ok           783
Amazing      731
Name: IMDb, dtype: int64

### Custom sized bins

In [420]:
cutoffs=[0,5,8,9,9.5,11]

In [421]:
bins=pd.cut(df.IMDb, cutoffs)
bins

0        (5.0, 8.0]
1        (8.0, 9.0]
2        (8.0, 9.0]
3        (5.0, 8.0]
4        (8.0, 9.0]
           ...
5617     (9.0, 9.5]
5618    (9.5, 11.0]
5619     (9.0, 9.5]
5620     (9.0, 9.5]
5621     (9.0, 9.5]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.0, 5.0] < (5.0, 8.0] < (8.0, 9.0] < (9.0, 9.5] < (9.5, 11.0]]

In [422]:
bins=pd.cut(df.IMDb, cutoffs, labels=labels)
bins

0           Bad
1            ok
2            ok
3           Bad
4            ok
         ...
5617       Good
5618    Amazing
5619       Good
5620       Good
5621       Good
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): [Terrible < Bad < ok < Good < Amazing]

In [424]:
bins, representations=pd.cut(df.IMDb, cutoffs, retbins=True)
bins

0        (5.0, 8.0]
1        (8.0, 9.0]
2        (8.0, 9.0]
3        (5.0, 8.0]
4        (8.0, 9.0]
           ...
5617     (9.0, 9.5]
5618    (9.5, 11.0]
5619     (9.0, 9.5]
5620     (9.0, 9.5]
5621     (9.0, 9.5]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.0, 5.0] < (5.0, 8.0] < (8.0, 9.0] < (9.0, 9.5] < (9.5, 11.0]]

In [425]:
bins.value_counts()

(5.0, 8.0]     3321
(8.0, 9.0]      859
(0.0, 5.0]      245
(9.0, 9.5]       33
(9.5, 11.0]       3
Name: IMDb, dtype: int64