In [7]:
import pandas
import pymysql
from sqlalchemy import create_engine
pd = pandas

In [3]:
username='root'
password='martin'
server='localhost'
database='finance'

In [4]:
engine = create_engine(f'mysql+pymysql://{username}:{password}@{server}/{database}')

In [5]:
query = """SELECT district_id, avg(amount) as amount FROM order
        GROUP BY district_id"""

In [8]:
df = pd.read_sql_query(query, engine)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'district_id' in 'field list'")
[SQL: SELECT district_id, avg(amount) as amount
        GROUP BY district_id]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [9]:
url='https://studio.ironhack.school/asset-v1:IRONHACK+DAFT+202006_PAR+type@asset+block@datasets_674388_1186156_tv_shows.csv'

In [11]:
df = pd.read_csv(url, index_col = 'Unnamed: 0')
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5611 entries, 0 to 5610
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            5611 non-null   object
 1   Year             5611 non-null   int64
 2   Age              3165 non-null   object
 3   IMDb             4450 non-null   float64
 4   Rotten Tomatoes  1011 non-null   object
 5   Netflix          5611 non-null   int64
 6   Hulu             5611 non-null   int64
 7   Prime Video      5611 non-null   int64
 8   Disney+          5611 non-null   int64
 9   type             5611 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 416.4+ KB

In [22]:
df.loc[df.IMDb>9.2, 'todolist'] = 'to watch'
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,NaN
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,NaN
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,NaN
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,NaN
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,NaN
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,NaN
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,NaN
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,NaN

In [24]:
df.loc[~(df.IMDb>9.2), 'todolist'] = 'skip'
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,skip
...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,skip

Unique Values

In [26]:
df.nunique()

Title              5564
Year                 81
Age                   5
IMDb                 78
Rotten Tomatoes      88
Netflix               2
Hulu                  2
Prime Video           2
Disney+               2
type                  1
todolist              2
dtype: int64

In [28]:
# Returns the unique values
df.Age.unique()

array(['18+', '16+', '7+', nan, 'all', '13+'], dtype=object)

In [29]:
# Returns the number of unique values
df.Age.nunique()

5

In [30]:
# Returns the frequency of each value
df.Age.value_counts()

16+    1018
7+      848
18+     750
all     545
13+       4
Name: Age, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5611 entries, 0 to 5610
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            5611 non-null   object
 1   Year             5611 non-null   int64
 2   Age              3165 non-null   object
 3   IMDb             4450 non-null   float64
 4   Rotten Tomatoes  1011 non-null   object
 5   Netflix          5611 non-null   int64
 6   Hulu             5611 non-null   int64
 7   Prime Video      5611 non-null   int64
 8   Disney+          5611 non-null   int64
 9   type             5611 non-null   int64
 10  todolist         5611 non-null   object
dtypes: float64(1), int64(6), object(4)
memory usage: 438.4+ KB